openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Bom Comparisons API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: bom-comparisons
paths:
  /bom-comparisons:
    get:
      security:
      - BearerAuth: []
      description: Returns a paginated list of BOM comparisons for the authenticated business
      tags:
      - bom-comparisons
      summary: List BOM comparisons
      parameters:
      - description: Page number
        name: page
        in: query
        schema:
          type: integer
          default: 1
      - description: Items per page
        name: page_size
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getBomComparisons
      x-operation-id-source: derived
    post:
      security:
      - BearerAuth: []
      description: Creates and runs a comparison between two BOMs
      tags:
      - bom-comparisons
      summary: Create BOM comparison
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: Comparison request
        required: true
      operationId: postBomComparisons
      x-operation-id-source: derived
  /bom-comparisons/{id}:
    get:
      security:
      - BearerAuth: []
      description: Returns a comparison with all line-level results
      tags:
      - bom-comparisons
      summary: Get BOM comparison
      parameters:
      - description: Comparison ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getBomComparisonsById
      x-operation-id-source: derived
  /bom-comparisons/{id}/export:
    get:
      security:
      - BearerAuth: []
      description: Generates and returns an XLSX file with the comparison results
      tags:
      - bom-comparisons
      summary: Export BOM comparison as XLSX
      parameters:
      - description: Comparison ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getBomComparisonsByIdExport
      x-operation-id-source: derived
  /bom-comparisons/{id}/lines:
    get:
      security:
      - BearerAuth: []
      description: Returns paginated, optionally filtered comparison lines with joined BOM line data
      tags:
      - bom-comparisons
      summary: Get paginated BOM comparison lines
      parameters:
      - description: Comparison ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: Filter by match status (matched, added, removed, modified)
        name: match_status
        in: query
        schema:
          type: string
      - description: Page number
        name: page
        in: query
        schema:
          type: integer
          default: 1
      - description: Items per page
        name: page_size
        in: query
        schema:
          type: integer
          default: 100
          maximum: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getBomComparisonsByIdLines
      x-operation-id-source: derived
components:
  schemas:
    models.ErrorResponse:
      type: object
      properties:
        code:
          type: string
        details: {}
        error:
          type: string
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
