openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Supplier Data Requests API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: supplier-data-requests
paths:
  /v1/supplier-data-requests:
    get:
      description: Lists all supplier data requests for the user's business
      tags:
      - supplier-data-requests
      summary: List supplier data requests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/models.SupplierDataRequestListItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getV1SupplierDataRequests
      x-operation-id-source: derived
  /v1/supplier-data-requests/{id}:
    get:
      description: Gets full details of a supplier data request including the supplier's response
      tags:
      - supplier-data-requests
      summary: Get supplier data request detail
      parameters:
      - description: Supplier data request ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SupplierDataRequestDetailResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getV1SupplierDataRequestsById
      x-operation-id-source: derived
  /v1/supplier-data-requests/{id}/extend-expiry:
    post:
      description: Extends the expiry date of a request, regenerates the passcode, and sends a new email
      tags:
      - supplier-data-requests
      summary: Extend supplier request expiry
      parameters:
      - description: Supplier data request ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SupplierReviewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SupplierExtendExpiryRequest'
        description: Expiry extension payload
        required: true
      operationId: postV1SupplierDataRequestsByIdExtendExpiry
      x-operation-id-source: derived
  /v1/supplier-data-requests/{id}/reset-passcode:
    post:
      description: Regenerates the passcode for a locked request and sends a new email to the supplier
      tags:
      - supplier-data-requests
      summary: Reset supplier request passcode
      parameters:
      - description: Supplier data request ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SupplierReviewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: postV1SupplierDataRequestsByIdResetPasscode
      x-operation-id-source: derived
  /v1/supplier-data-requests/{id}/review:
    post:
      description: Approves or rejects a supplier response with optional rejection reason
      tags:
      - supplier-data-requests
      summary: Review supplier response
      parameters:
      - description: Supplier data request ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SupplierReviewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SupplierReviewRequest'
        description: Review action
        required: true
      operationId: postV1SupplierDataRequestsByIdReview
      x-operation-id-source: derived
components:
  schemas:
    models.SupplierDataRequestDetailResponse:
      type: object
      properties:
        article_numbers:
          type: array
          items:
            type: string
        created_at:
          type: string
        created_by:
          type: string
        documents:
          type: array
          items:
            type: string
        expires_at:
          type: string
        id:
          type: string
        is_locked:
          type: boolean
        manufacturer:
          type: string
        master_data:
          type: array
          items:
            type: string
        order_number:
          type: string
        other_details:
          type: string
        rejection_reason:
          type: string
        response:
          description: The supplier's response, if any.
          allOf:
          - $ref: '#/components/schemas/models.SupplierGetResponseResponse'
        reviewed_at:
          type: string
        reviewed_by:
          type: string
        status:
          type: string
        supplier_email:
          type: string
    models.SupplierDataRequestListItem:
      type: object
      properties:
        created_at:
          type: string
        expires_at:
          type: string
        has_response:
          type: boolean
        id:
          type: string
        is_locked:
          type: boolean
        manufacturer:
          type: string
        rejection_reason:
          type: string
        reviewed_at:
          type: string
        reviewed_by:
          type: string
        status:
          type: string
        supplier_email:
          type: string
    models.SupplierReviewRequest:
      type: object
      properties:
        action:
          description: '"approve" or "reject"'
          type: string
        reason:
          description: Required when action is "reject"
          type: string
    models.SupplierExtendExpiryRequest:
      type: object
      properties:
        expiry_days:
          description: Number of days from now until the request expires (1-30, default 7)
          type: integer
    models.SupplierGetResponseResponse:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/models.SupplierResponseFileInfo'
        id:
          type: string
        master_data_values:
          type: object
          additionalProperties:
            type: string
        status:
          description: '"draft" or "submitted"'
          type: string
        submitted_at:
          type: string
        updated_at:
          type: string
    models.SupplierResponseFileInfo:
      type: object
      properties:
        content_type:
          type: string
        created_at:
          type: string
        document_type:
          type: string
        file_size_bytes:
          type: integer
        filename:
          type: string
        id:
          type: string
        url:
          type: string
    models.ErrorResponse:
      type: object
      properties:
        code:
          type: string
        details: {}
        error:
          type: string
    models.SupplierReviewResponse:
      type: object
      properties:
        message:
          type: string
        status:
          type: string
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
