openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Business API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: Business
paths:
  /business/dev-features:
    get:
      security:
      - BearerAuth: []
      description: Returns the feature flags enabled for the authenticated user's business.
      tags:
      - Business
      summary: Get business feature flags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.BusinessDevFeatures'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getBusinessDevFeatures
      x-operation-id-source: derived
  /business/features:
    get:
      security:
      - BearerAuth: []
      description: Returns a map of feature -> enabled for the authenticated user's business.
      tags:
      - Business
      summary: Get business features
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getBusinessFeatures
      x-operation-id-source: derived
components:
  schemas:
    handlers.BusinessDevFeatures:
      type: object
      properties:
        bom_artifacts:
          description: 'BomArtifacts gates the conversational BOM Artifacts feature (portal

            sidebar section + rag-agent endpoints). Enabled per-business via the admin

            dev-features endpoint; consumed by the frontend''s useBusinessDevFeatures.'
          type: boolean
        bom_raw_import:
          description: 'BomRawImport gates the dynamic BOM import (import every column as-is into

            a first-class raw structure, no static mapping). Same flag the gateway

            import handler checks server-side.'
          type: boolean
        model_extraction:
          type: boolean
    models.ErrorResponse:
      type: object
      properties:
        code:
          type: string
        details: {}
        error:
          type: string
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
