openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Auth API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: Auth
paths:
  /v1/auth/switch-environment:
    post:
      description: Switches the user's environment between LIVE and SANDBOX and returns a new custom token with the environment claim
      tags:
      - Auth
      summary: Switch environment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.SwitchEnvironmentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/handlers.SwitchEnvironmentRequest'
        description: Environment switch request
        required: true
      operationId: postV1AuthSwitchEnvironment
      x-operation-id-source: derived
components:
  schemas:
    handlers.SwitchEnvironmentResponse:
      type: object
      properties:
        customToken:
          type: string
        environment:
          type: string
    handlers.SwitchEnvironmentRequest:
      type: object
      properties:
        environment:
          description: '"LIVE" or "SANDBOX"'
          type: string
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
