openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Email API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: Email
paths:
  /v1/email/supplier-data-request:
    post:
      description: Sends an email to a supplier requesting specific master data and/or documents
      tags:
      - Email
      summary: Send a supplier data request email
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SupplierDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SupplierDataRequest'
        description: Supplier data request payload
        required: true
      operationId: postV1EmailSupplierDataRequest
      x-operation-id-source: derived
components:
  schemas:
    models.SupplierDataResponse:
      type: object
      properties:
        email_id:
          description: Resend email ID for tracking
          type: string
        message:
          description: Human-readable confirmation
          type: string
        request_id:
          description: Supplier data request ID (UUID)
          type: string
    models.ErrorResponse:
      type: object
      properties:
        code:
          type: string
        details: {}
        error:
          type: string
    models.SupplierDataRequest:
      type: object
      properties:
        article_numbers:
          description: List of article numbers (max 10)
          type: array
          items:
            type: string
        business_node_id:
          description: Business node (org unit) scope — required
          type: string
        contact_email:
          description: Supplier contact email (recipient)
          type: string
        documents:
          description: Selected document type keys
          type: array
          items:
            type: string
        expiry_days:
          description: Days until request expires (1-30, default 7)
          type: integer
        manufacturer:
          description: Manufacturer or supplier name
          type: string
        master_data:
          description: Selected master data field keys
          type: array
          items:
            type: string
        order_number:
          description: Optional order/PO number
          type: string
        other_details:
          description: Optional free-text notes
          type: string
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
