openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Imports API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: Imports
paths:
  /imports:
    get:
      security:
      - BearerAuth: []
      description: Returns a paginated list of import jobs for the authenticated business
      tags:
      - Imports
      summary: List import jobs
      parameters:
      - description: Page number
        name: page
        in: query
        schema:
          type: integer
          default: 1
      - description: Items per page
        name: page_size
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ImportJobListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getImports
      x-operation-id-source: derived
    post:
      security:
      - BearerAuth: []
      description: Creates a new import job for batch document uploads
      tags:
      - Imports
      summary: Create import job
      parameters:
      - description: Import job name
        name: name
        in: query
        schema:
          type: string
      - description: Import source (web_upload, api, bulk_import)
        name: source
        in: query
        schema:
          type: string
      - description: Delete and re-process documents with same filename
        name: replace_existing
        in: query
        schema:
          type: boolean
      - description: Expected total number of documents in this import
        name: total_documents
        in: query
        schema:
          type: integer
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ImportJobCreateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: postImports
      x-operation-id-source: derived
  /imports/validate:
    post:
      security:
      - BearerAuth: []
      description: Categorizes local upload file paths against the business import folder mapping, returning which are valid item files (with a derived part number) and which are not. Used by the V2 upload flow to upload only importable files.
      tags:
      - Imports
      summary: Validate upload paths against the folder mapping
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ValidateImportFilesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.ValidateImportFilesRequest'
        description: Paths to validate
        required: true
      operationId: postImportsValidate
      x-operation-id-source: derived
  /imports/{id}:
    get:
      security:
      - BearerAuth: []
      description: Returns a single import job by ID
      tags:
      - Imports
      summary: Get import job
      parameters:
      - description: Import job ID (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ImportJob'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getImportsById
      x-operation-id-source: derived
    delete:
      security:
      - BearerAuth: []
      description: Deletes an import job and all its associated documents
      tags:
      - Imports
      summary: Delete import job
      parameters:
      - description: Import job ID (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ImportJobDeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: deleteImportsById
      x-operation-id-source: derived
  /imports/{id}/documents:
    get:
      security:
      - BearerAuth: []
      description: Returns documents belonging to an import job
      tags:
      - Imports
      summary: Get import documents
      parameters:
      - description: Import job ID (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: Page number
        name: page
        in: query
        schema:
          type: integer
          default: 1
      - description: Items per page
        name: page_size
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
      - description: Filter by status (pending, processing, completed, failed)
        name: status
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ImportJobDocumentsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getImportsByIdDocuments
      x-operation-id-source: derived
    post:
      security:
      - BearerAuth: []
      description: Uploads a document as part of an import job
      tags:
      - Imports
      summary: Upload document to import
      parameters:
      - description: Import job ID (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DocumentUploadWithImportResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: Document file to upload
                  format: binary
              required:
              - file
      operationId: postImportsByIdDocuments
      x-operation-id-source: derived
    delete:
      security:
      - BearerAuth: []
      description: Deletes all documents from an import job
      tags:
      - Imports
      summary: Delete import documents
      parameters:
      - description: Import job ID (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ImportJobDeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: deleteImportsByIdDocuments
      x-operation-id-source: derived
  /imports/{id}/rerun:
    post:
      security:
      - BearerAuth: []
      description: Re-runs processing for ALL documents in an import job using the original configuration
      tags:
      - Imports
      summary: Re-run import job
      parameters:
      - description: Import job ID (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ImportJobRerunResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: postImportsByIdRerun
      x-operation-id-source: derived
  /imports/{id}/retrigger:
    post:
      security:
      - BearerAuth: []
      description: Retriggers processing for failed or stuck pending documents in an import job
      tags:
      - Imports
      summary: Retrigger import documents
      parameters:
      - description: Import job ID (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ImportJobRetriggerResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.ImportJobRetriggerRequest'
        description: Optional document IDs to retrigger
      operationId: postImportsByIdRetrigger
      x-operation-id-source: derived
components:
  schemas:
    models.ImportJobDeleteResponse:
      type: object
      properties:
        documents_deleted:
          type: integer
        import_id:
          type: string
        message:
          type: string
    models.ImportJob:
      type: object
      properties:
        auto_pause_reason:
          type: string
        auto_paused:
          type: boolean
        auto_paused_at:
          type: string
        business_id:
          type: string
        completed_at:
          type: string
        created_at:
          type: string
        error_message:
          type: string
        failed_documents:
          type: integer
        id:
          type: string
        import_bucket_path:
          type: string
        name:
          type: string
        options:
          $ref: '#/components/schemas/models.ImportJobOptions'
        paused:
          type: boolean
        paused_at:
          type: string
        paused_by:
          type: string
        processed_documents:
          type: integer
        recent_failure_count:
          description: Circuit breaker fields
          type: integer
        source:
          type: string
        status:
          type: string
        total_documents:
          type: integer
        updated_at:
          type: string
    models.Document:
      type: object
      properties:
        business_id:
          type: string
        business_node_id:
          type: string
        created_at:
          type: string
        error_message:
          type: string
        filename:
          type: string
        gcs_uri:
          type: string
        id:
          type: string
        image_count:
          type: integer
        import_bucket_uri:
          type: string
        import_id:
          type: string
        items_count:
          type: integer
        page_count:
          type: integer
        processed_at:
          type: string
        status:
          type: string
        table_count:
          type: integer
        trace_id:
          type: string
        updated_at:
          type: string
    models.ImportJobOptions:
      type: object
      properties:
        replace_existing:
          description: Delete and re-process documents with same filename
          type: boolean
    models.ImportJobRetriggerResponse:
      type: object
      properties:
        documents_retriggered:
          type: integer
        import_id:
          type: string
        message:
          type: string
    models.ImportJobRerunResponse:
      type: object
      properties:
        documents_rerun:
          type: integer
        import_id:
          type: string
        message:
          type: string
        replace_existing:
          type: boolean
    models.ImportJobRetriggerRequest:
      type: object
      properties:
        document_ids:
          description: 'Optional: specific documents to retrigger'
          type: array
          items:
            type: string
        force:
          description: 'Force also retriggers documents in terminal success states

            (spec_matched). Only honored together with an explicit DocumentIDs list —

            a forced full-import rerun must stay impossible from this endpoint.'
          type: boolean
    models.DocumentUploadWithImportResponse:
      type: object
      properties:
        document_id:
          type: string
        filename:
          type: string
        import_id:
          type: string
        message:
          type: string
        status:
          type: string
    models.ValidateImportFilesResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/models.ValidateImportFileResult'
    models.ValidateImportFileResult:
      type: object
      properties:
        part_number:
          type: string
        path:
          type: string
        reason:
          type: string
        valid:
          type: boolean
    models.ImportJobListResponse:
      type: object
      properties:
        import_jobs:
          type: array
          items:
            $ref: '#/components/schemas/models.ImportJob'
        page:
          type: integer
        page_size:
          type: integer
        total_count:
          type: integer
    models.ErrorResponse:
      type: object
      properties:
        code:
          type: string
        details: {}
        error:
          type: string
    models.ValidateImportFilesRequest:
      type: object
      properties:
        business_node_id:
          type: string
        paths:
          type: array
          items:
            type: string
    models.ImportJobCreateResponse:
      type: object
      properties:
        import_id:
          type: string
        message:
          type: string
    models.ImportJobDocumentsResponse:
      type: object
      properties:
        documents:
          type: array
          items:
            $ref: '#/components/schemas/models.Document'
        import_id:
          type: string
        page:
          type: integer
        page_size:
          type: integer
        total_count:
          type: integer
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
