openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Feedback API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: Feedback
paths:
  /v1/feedback:
    post:
      description: Accepts a multipart form with title, description, email, and optional images.
      tags:
      - Feedback
      summary: Submit a bug report
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/services.FeedbackResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Bug report title
                description:
                  type: string
                  description: Bug report description
                email:
                  type: string
                  description: Contact email
                images:
                  type: string
                  description: Screenshot images (multiple allowed)
                  format: binary
              required:
              - title
              - description
              - email
      operationId: postV1Feedback
      x-operation-id-source: derived
components:
  schemas:
    models.ErrorResponse:
      type: object
      properties:
        code:
          type: string
        details: {}
        error:
          type: string
    services.FeedbackResponse:
      type: object
      properties:
        linear_issue_id:
          type: string
        linear_issue_url:
          type: string
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
