openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Search API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: Search
paths:
  /search:
    post:
      security:
      - BearerAuth: []
      description: Search items using both Elasticsearch (text) and Vertex AI (semantic) in parallel, merged and deduplicated by item
      tags:
      - Search
      summary: Unified search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SearchResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '503':
          description: Search service not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.UnifiedSearchRequest'
        description: Search request
        required: true
      operationId: postSearch
      x-operation-id-source: derived
  /search/autocomplete:
    get:
      security:
      - BearerAuth: []
      description: Returns autocomplete suggestions for part numbers, manufacturers, etc.
      tags:
      - Search
      summary: Autocomplete suggestions
      parameters:
      - description: Search query (min 2 chars)
        name: q
        in: query
        required: true
        schema:
          type: string
      - description: Max suggestions
        name: limit
        in: query
        schema:
          type: integer
          default: 8
          maximum: 20
      - description: Comma-separated business node IDs to filter by
        name: business_node_ids
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AutocompleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getSearchAutocomplete
      x-operation-id-source: derived
  /search/visual:
    post:
      security:
      - BearerAuth: []
      description: Searches for items using a previously uploaded image (via /search/visual/images). Matches images in documents, then resolves to items via the item_documents links.
      tags:
      - Search
      summary: Visual search
      parameters:
      - description: UUID of previously uploaded search image
        name: image_id
        in: query
        required: true
        schema:
          type: string
      - description: Max results
        name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '503':
          description: Visual search not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: postSearchVisual
      x-operation-id-source: derived
  /search/visual/images:
    post:
      security:
      - BearerAuth: []
      description: Uploads an image to GCS for use in visual search. Returns a UUID that can be used with the visual search endpoint.
      tags:
      - Search
      summary: Upload image for visual search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SearchImageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: Image file (PNG, JPEG, etc., max 10MB)
                  format: binary
              required:
              - file
      operationId: postSearchVisualImages
      x-operation-id-source: derived
  /search/visual/images/{id}:
    get:
      security:
      - BearerAuth: []
      description: Returns metadata and a signed URL for a previously uploaded search image.
      tags:
      - Search
      summary: Get search image metadata
      parameters:
      - description: Image UUID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SearchImageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getSearchVisualImagesById
      x-operation-id-source: derived
components:
  schemas:
    models.UnifiedSearchRequest:
      type: object
      properties:
        limit:
          type: integer
        query:
          type: string
    models.ItemResult:
      type: object
      properties:
        category:
          type: string
        image_signed_url:
          description: Time-limited signed HTTPS URL for frontend access
          type: string
        image_url:
          description: Original GCS URI (gs://...) to item image (from source document)
          type: string
        is_alternative:
          type: boolean
        is_potential_duplicate:
          type: boolean
        is_preferred:
          description: Item is flagged as a preferred part
          type: boolean
        item_id:
          type: string
        manufacturer:
          type: string
        part_number:
          type: string
        similarity_score:
          type: number
        source_filename:
          description: Filename of the source document
          type: string
        text_snippet:
          description: Snippet from specs or OCR text
          type: string
        title:
          type: string
    models.BomResult:
      type: object
      properties:
        bom_id:
          type: string
        business_node_id:
          type: string
        matched_part_numbers:
          type: array
          items:
            type: string
        name:
          type: string
        similarity_score:
          type: number
        status:
          type: string
        text_snippet:
          type: string
        total_lines:
          type: integer
        version:
          type: string
    models.ErpFileResult:
      type: object
      properties:
        business_node_id:
          type: string
        erp_file_id:
          type: string
        filename:
          type: string
        matched_identifiers:
          type: array
          items:
            type: string
        row_count:
          type: integer
        similarity_score:
          type: number
        source_erp:
          type: string
        text_snippet:
          type: string
    models.AutocompleteSuggestion:
      type: object
      properties:
        text:
          type: string
        type:
          description: '"part_number", "title", "manufacturer", "specification", "additional_data", "document", or "recent"'
          type: string
    models.ErrorResponse:
      type: object
      properties:
        code:
          type: string
        details: {}
        error:
          type: string
    models.SearchResponse:
      type: object
      properties:
        alternatives_found:
          type: integer
        boms:
          description: 'Unified search: BOMs / ERP files whose contained part numbers match the

            query. The frontend renders these in a grouped layout alongside the

            item results. Empty when Elasticsearch isn''t configured or returns no

            hits.'
          type: array
          items:
            $ref: '#/components/schemas/models.BomResult'
        business_id:
          type: string
        duplicates_found:
          type: integer
        erps:
          type: array
          items:
            $ref: '#/components/schemas/models.ErpFileResult'
        query:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/models.ItemResult'
        results_count:
          type: integer
        search_mode:
          type: string
    models.SearchImageResponse:
      type: object
      properties:
        content_type:
          type: string
        file_name:
          type: string
        id:
          type: string
        url:
          type: string
    models.AutocompleteResponse:
      type: object
      properties:
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/models.AutocompleteSuggestion'
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
