openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Duplicates API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: duplicates
paths:
  /items/{id}/similar:
    get:
      security:
      - BearerAuth: []
      description: Returns items similar to the given item, with explanations of why they are similar (shared specs, similarity matches, same duplicate group)
      tags:
      - duplicates
      summary: Get similar items
      parameters:
      - description: Item ID
        name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: Minimum shared specs to consider similar (default 3)
        name: min_shared_specs
        in: query
        schema:
          type: integer
          default: 3
      - description: Max results (default 20, max 100)
        name: limit
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/services.GetSimilarItemsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '503':
          description: Duplicate service not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getItemsByIdSimilar
      x-operation-id-source: derived
components:
  schemas:
    services.GetSimilarItemsResponse:
      type: object
      properties:
        item_id:
          type: string
        similar_items:
          type: array
          items:
            $ref: '#/components/schemas/services.SimilarItemResult'
        source:
          description: neo4j+vertex, neo4j, vertex
          type: string
        total:
          type: integer
    services.SharedSpecDetail:
      type: object
      properties:
        display_value:
          type: string
        key:
          type: string
        original_keys:
          type: array
          items:
            type: string
    models.ErrorResponse:
      type: object
      properties:
        code:
          type: string
        details: {}
        error:
          type: string
    services.SimilarItemResult:
      type: object
      properties:
        classification:
          description: duplicate, similar
          type: string
        internal_code:
          description: drawing internal code (Kacher-test); small identifier line
          type: string
        item_id:
          type: string
        manufacturer:
          type: string
        match_details:
          type: object
          additionalProperties: true
        part_number:
          type: string
        shared_specs:
          type: array
          items:
            $ref: '#/components/schemas/services.SharedSpecDetail'
        similarity_score:
          type: number
        similarity_type:
          description: shared_specs, same_group, similarity_match
          type: string
        title:
          type: string
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
