openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Documents API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: Documents
paths:
  /documents:
    get:
      security:
      - BearerAuth: []
      description: Returns a paginated list of documents for the authenticated business
      tags:
      - Documents
      summary: List documents
      parameters:
      - description: Page number
        name: page
        in: query
        schema:
          type: integer
          default: 1
      - description: Items per page
        name: page_size
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DocumentListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getDocuments
      x-operation-id-source: derived
  /documents/{id}:
    get:
      security:
      - BearerAuth: []
      description: Returns a single document by ID
      tags:
      - Documents
      summary: Get document
      parameters:
      - description: Document ID (UUID or business_id:filename for legacy)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.Document'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getDocumentsById
      x-operation-id-source: derived
    delete:
      security:
      - BearerAuth: []
      description: Deletes a document and its associated data
      tags:
      - Documents
      summary: Delete document
      parameters:
      - description: Document ID (UUID or business_id:filename for legacy)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: deleteDocumentsById
      x-operation-id-source: derived
  /documents/{id}/download:
    get:
      security:
      - BearerAuth: []
      description: Streams the document file directly to the client
      tags:
      - Documents
      summary: Download document
      parameters:
      - description: Document ID (UUID or business_id:filename for legacy)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getDocumentsByIdDownload
      x-operation-id-source: derived
  /documents/{id}/url:
    get:
      security:
      - BearerAuth: []
      description: 'Returns a signed URL for the document (valid for 5 minutes). By default the URL is

        configured for inline viewing in the browser. Pass ?download=true to get a download URL instead.'
      tags:
      - Documents
      summary: Get document URL
      parameters:
      - description: Document ID (UUID or business_id:filename for legacy)
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: If true, generate a download URL instead of a view URL
        name: download
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.EmbedURLResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorResponse'
      operationId: getDocumentsByIdUrl
      x-operation-id-source: derived
components:
  schemas:
    models.EmbedURLResponse:
      type: object
      properties:
        expires_at:
          type: string
        mesh_url:
          type: string
        mesh_url_high:
          type: string
        mesh_url_low:
          type: string
        mesh_url_med:
          type: string
        mime_type:
          type: string
        url:
          type: string
    models.ErrorResponse:
      type: object
      properties:
        code:
          type: string
        details: {}
        error:
          type: string
    models.Document:
      type: object
      properties:
        business_id:
          type: string
        business_node_id:
          type: string
        created_at:
          type: string
        error_message:
          type: string
        filename:
          type: string
        gcs_uri:
          type: string
        id:
          type: string
        image_count:
          type: integer
        import_bucket_uri:
          type: string
        import_id:
          type: string
        items_count:
          type: integer
        page_count:
          type: integer
        processed_at:
          type: string
        status:
          type: string
        table_count:
          type: integer
        trace_id:
          type: string
        updated_at:
          type: string
    models.DocumentListResponse:
      type: object
      properties:
        documents:
          type: array
          items:
            $ref: '#/components/schemas/models.Document'
        page:
          type: integer
        page_size:
          type: integer
        total_count:
          type: integer
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
