openapi: 3.2.0
info:
  description: API for document processing, item similarity search, and analytics.
  title: Resourcly Health API
  termsOfService: https://resourcly.com/terms
  contact:
    name: API Support
    email: support@resourcly.com
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.resourcly.com/v1
tags:
- name: Health
paths:
  /health:
    get:
      description: Returns OK if the service is alive
      tags:
      - Health
      summary: Liveness probe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.HealthResponse'
      operationId: getHealth
      x-operation-id-source: derived
  /ready:
    get:
      description: Returns service readiness status including database connectivity
      tags:
      - Health
      summary: Readiness probe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.ReadyResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.ReadyResponse'
      operationId: getReady
      x-operation-id-source: derived
  /ready/detailed:
    get:
      description: Returns service readiness status including database pool statistics for observability
      tags:
      - Health
      summary: Detailed readiness probe with pool stats
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.DetailedReadyResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.DetailedReadyResponse'
      operationId: getReadyDetailed
      x-operation-id-source: derived
components:
  schemas:
    handlers.ReadyResponse:
      type: object
      properties:
        services:
          type: object
          additionalProperties:
            type: string
        status:
          type: string
    handlers.HealthResponse:
      type: object
      properties:
        status:
          type: string
        version:
          type: string
    handlers.PoolStats:
      type: object
      properties:
        acquired_conns:
          type: integer
        backpressure:
          description: '"normal", "warning", "active"'
          type: string
        idle_conns:
          type: integer
        max_conns:
          type: integer
        total_conns:
          type: integer
        usage_percent:
          type: number
    handlers.DetailedReadyResponse:
      type: object
      properties:
        pool_stats:
          $ref: '#/components/schemas/handlers.PoolStats'
        services:
          type: object
          additionalProperties:
            type: string
        status:
          type: string
  securitySchemes:
    BearerAuth:
      description: 'Firebase JWT token. Format: "Bearer {token}"'
      type: apiKey
      name: Authorization
      in: header
